<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.krystalics.dao.HelloMapper">
    <select id="findByName" parameterType="java.lang.String"  resultType="com.github.krystalics.domain.Hello">
        SELECT id,name FROM hello WHERE name like '%#{name,jdbcType=VARCHAR}%'
    </select>
</mapper>